/LLMExperiments/BERT_Sentiment_Analysis/results
/LLMExperiments/BERT_Sentiment_Analysis/logs
/LLMExperiments/BERT_Sentiment_Analysis/.ipynb_checkpoints
/LLMExperiments/Simple_RAG_Education_LLM/.ipynb_checkpoints
/PySpark_Projects/MovieRecommender/Data
/LLMExperiments/BERT_Sentiment_Analysis/BERTModel.pt

/.vscode